main {
  padding: 2rem;
  text-align: justify;
  width: 100%;
  height: 102vh;
  position: relative;
}

main > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -6rem;
  right: 0;
  z-index: -1;
}

main > .gradient {
  width: 100%;
  height: 110%;
  background-image: linear-gradient(transparent 40%, #333, #333);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.wrapper {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.information > .title {
  cursor: pointer;
  text-indent: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
  background-color: rgba(185, 183, 183, 0.6);
}

.description {
  margin: 0.5rem 0;
  padding: 0rem 1rem;
  height: 0rem;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.445);
  transition: all 300ms ease;
}

.description.active {
  height: 5rem;
  padding: 1rem 1rem;
  transition: all 300ms ease;
}

footer {
  width: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  padding-inline: 4rem;
  color: white;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
  main {
    height: 115vh;
  }
}

@media screen and (max-width: 768px) {
  .description.active {
    height: 6rem;
  }
}

@media screen and (max-width: 425px) {
  main {
    height: 130vh;
  }

  main > img {
    object-fit: cover;
    animation: animasi 120s ease infinite forwards;
  }

  .information > .title {
    font-size: 1.2rem;
  }

  .description.active {
    height: 12rem;
  }
}

@media screen and (max-width: 375px) {
  main {
    padding: 1rem;
  }

  .description {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 320px) {
  .information > .title {
    font-size: 1 rem;
  }

  .description {
    font-size: 0.9rem;
  }
}

@keyframes animasi {
  0%,
  100% {
    object-position: 0% 100%;
  }
  50% {
    object-position: 100% 100%;
  }
}
