#loader {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader.active {
  transition: transform 800ms ease;
  transform: translateY(-100%);
}

.loading {
  border-bottom: 3px solid blue;
  border-radius: 100%;
  width: 4rem;
  aspect-ratio: 1/1;
  animation: putar 1s linear infinite;
}

@keyframes putar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
