main {
  width: 100%;
  height: 102vh;
  position: relative;
  padding: 3rem;
}

main > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -6rem;
  right: 0;
  z-index: -1;
}

main > .gradient {
  width: 100%;
  height: 110%;
  background-image: linear-gradient(transparent 40%, #333, #333);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

main > h1 {
  text-align: center;
  padding: 1rem;
  padding-top: 0rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}

main > .formulir {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3rem;
  border-radius: 10px;
  padding-bottom: 2rem;
}

main > .formulir form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container {
  /* border: 1px solid red; */
  display: flex;
  height: 2rem;
}

.container > label {
  /* border: 1px solid blue; */
  font-size: 1.15rem;
  font-weight: 600;
  width: 30%;
  display: flex;
  align-items: center;
}

.wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.input {
  background-color: rgba(255, 255, 255, 0.6);
  outline: none;
  border-radius: 5px;
  border: none;
  text-indent: 1rem;
}

.date {
  text-indent: 0.5rem;
}

.button {
  align-items: flex-end;
  justify-content: flex-end;
  /* border: 1px solid red; */
  height: 4rem;
  gap: 2rem;
  margin-right: 3rem;
}

.button > input {
  padding-inline: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: white;
  border: 3px solid #333;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.button > input:active {
  scale: 0.9;
}

footer {
  width: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  padding-inline: 4rem;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
  main {
    height: 120vh;
  }

  .container:nth-child(5) > .wrapper > div {
    font-size: 0.8rem;
  }

  .container:nth-child(6) > .wrapper > div {
    font-size: 0.8rem;
  }

  .container:nth-child(7) > .wrapper > div {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .container:nth-child(7) {
    height: auto;
  }

  .container:nth-child(7) > .wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1.2rem 1.2rem;
    gap: 0;
  }
}

@media screen and (max-width: 425px) {
  main {
    padding-inline: 1rem;
    height: auto;
  }

  main > .formulir {
    padding: 1rem;
  }

  .container {
    flex-direction: column;
    gap: 0.5rem;
    height: auto;
  }

  .container > label {
    width: 100%;
    font-size: 1rem;
  }

  .wrapper {
    width: 100%;
  }

  .input {
    height: 2rem;
  }

  .container:nth-child(7) > .wrapper {
    grid-template-columns: 9.5rem 9.5rem;
    grid-template-rows: 1.2rem 1.2rem;
  }

  .container:nth-child(11) {
    width: 100%;
    margin-right: 0;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .button > input {
    padding-inline: 1.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

@media screen and (max-width: 375px) {
  main > h1 {
    font-size: 1.5rem;
  }
  .container:nth-child(7) > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
